@import '../../../../styles/mixins/media.scss';

.modal {
  padding: 50px 20px;
  width: 500px;
  text-align: center;
  background: url('../../../../assets/img/sections/landing/header/bg.png') center center no-repeat,
    #4e0b13;
    background-size: cover;
  -webkit-transition:0.3s all ease;
  transition:0.3s ease all;
  border-radius: 5px;
  @include b(mobile) {
    width: 100%;
    padding:50px 0px;
  }
  h2{
    font-size:36px;
    letter-spacing:4px;
    font-family: 'TL', sans-serif;
  }
}

.subtitle {
  font-size: 14px;
  line-height: 28px;
  padding-left:10px;
  margin-top:10px;
  text-align: left;
}
.subtitle2 {
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  padding-left:10px;
  color:#db5555;
}

.text {
  width: 500px;
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px;
  margin-bottom: 30px;
  background: none;
  color: rgba(255, 255, 255, 0.555);
  border:0;
  border-bottom: 1px solid #efefef;
  @include b(mobile) {
    width:200px;
  }
}

.buttons {
  margin-top: 43px;
  display: flex;
  justify-content: space-evenly;
  @include b(mobile) {
    flex-direction: column;
  }
}
.amountWrapper {
  display: flex;
  justify-content: center;
  @include b(mobile) {
    width: 90%;
    margin:auto;
  }
}

.amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
  box-sizing: border-box;
  font-family: 'TL', sans-serif;
  background-image: linear-gradient(to right, #000 0%, #222  51%, #222  100%);
  border-radius:5px;

  span {
    width: 100%;
    min-width: 33px;
  }
}

.changeAmount {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 7px #38d39f70;
  background: #38d39f;
  color: rgba(0, 0, 0, 0.8);
  width:50px;

  & + .amount {
    margin-right: 27px;
    margin-left: 27px;
  }
}

.mint {
    width: 100px;
    height: 40px;
    margin-left:10px;
    background-color: #c2fbd7;
    border-radius: 8px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    &:hover {
      box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
      transform: scale(1.05) rotate(-1deg);
    }
  }
.socials{
  display:flex;
  flex-wrap:flex;
  justify-content: center;
  align-items: center;
  .logoDiscord{
    width:30px;
    height:30px;
    background: url('../../../../assets/img/sections/landing/header/disc.png') center center no-repeat;
    margin:5px;
    background-size:100%;
  }
  .logoIG{
    width:30px;
    height:30px;
    background: url('../../../../assets/img/sections/landing/header/ig.png') center center no-repeat;
    margin:5px;
    background-size:100%;
  }
  .logoTw{
    width:30px;
    height:30px;
    background: url('../../../../assets/img/sections/landing/header/twit.png') center center no-repeat;
    margin:5px;
    background-size:100%;
  }
  .logoTel{
    width:30px;
    height:30px;
    background: url('../../../../assets/img/sections/landing/header/tele.png') center center no-repeat;
    margin:5px;
    background-size:100%;
  }
}