@import '../../../../../styles/mixins/flex.scss';
@import '../../../../../styles/mixins/container.scss';
@import '../../../../../styles/mixins/media.scss';

.bunny {
  width: 100%;
}

.block {
  padding: 61px 170px 0;
  height:400px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.85)),
    url('../../../../../assets/img/sections/landing/mint/bg.png') center center no-repeat;
  background-size: cover;
  // position: absolute;
  // top: -114px;
  // left: 50%;
  // transform: translateX(-50%);
  // width: 100%;

  @include b(mobile) {
    background: none;
    padding: 61px 0 0 0;
  }

  &_inner {
    // @include flex(row, center, center, nowrap);
    @include container;
    // @include b(tablet) {
    //   flex-wrap: wrap-reverse;
    // }
  }
}

.background {
  width: 100%;
  @media (min-width: 768px) {
    display: none;
  }
}

.head {
  @include b(tablet) {
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
  }
}

.left {
  @include b(tablet) {
    width: 100%;
    @include flex(column, center, center);
  }
}

.right {
  margin-left: 50px;
  padding: 25px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  @include b(tablet) {
    margin-bottom: 25px;
    margin-left: 0;
    padding: 0;
  }
}

.mint {
  margin-bottom: 40px;
  padding: 25px 55px;

  font-family: 'FORT';
  font-size: 48px;

  color: #fff;
  background-color: #fd7d48;

  div {
    max-height: 35px;
  }
  @include b(mobile) {
    margin-bottom: 20px;
  }
  @include b(extramobile) {
    width: 100%;

    font-size: 40px;
  }
}

.subtitle {
  line-height: 1.5;
}

.nft {
  img {
    max-width: 100%;
  }
}

.info {
  display: flex;
  justify-content: flex-start;
  @include b(tablet) {
    display: flex;
    justify-content: center;
  }
}

.title {
  padding: 17px 45px;

  box-sizing: border-box;
  width: fit-content;

  font-family: 'TL';
  font-size: 50px;
  line-height: 58px;

  background: #000;
  border: 4px solid #db5555;
  border: 2px solid #ff1616;
  border-radius: 12px;
  @include b(mobile) {
    margin: 0 auto;

    font-size: 25px;
    line-height: 29px;
  }
}

.text {
  margin-bottom: 252px;

  width: 100%;
  max-width: 450px;
  height: 100%;
  max-height: 320px;

  font-size: 18px;
  line-height: 32px;
  text-align: left;
  @include b(tablet) {
    margin-bottom: 20px;

    font-size: 15px;
    line-height: 18px;
  }
}

.subtitle {
  margin-bottom: 30px;

  font-size: 17px;
  line-height: 1.5;
}

.info{
  text-align: center;
}


.introTab {
  position :relative;
  z-index: 1;
  width: 90%;
  height: 300px;
  margin: auto;
  overflow: hidden;
}

.carte_button {
  position :relative;
  z-index: 3;
  background-color: yellow;
  color:#000;
  width: 100px;
  height: 50px;
  float:left;
}
.carte_button2{
  position :relative;
  z-index: 3;
  background-color: #666;
  color:#000;
  width: 100px;
  height: 50px;
  float:left;
}

.carte {
  position :absolute;
  top: 0px;
  z-index: 2;
  background-color: green;
  width: auto;
  display:none;
  height: 0%;
  margin: auto;
  transition: height 500ms;
}
.carte2 {
  position :absolute;
  top: 0px;
  z-index: 2;
  background-color: #000;
  width: auto;
  display:none;
  height: 0%;
  margin: auto;
  transition: height 500ms;
}
.carte_button:hover + .carte {
  border-top: none;
  top: 50px;
  height: 300px;
  display:block;
}
.carte_button2:hover + .carte2 {
  border-top: none;
  top: 50px;
  height: 300px;
  display:block;
}

.carte:hover {
  height: 300px;
}
.carte2:hover {
  height: 300px;
}

